<div class="menu">
      
      <!-- Menu icon -->
      <div class="icon-close">
        <img src='close.png'>
      </div>

<!-- Menu -->
      <ul >
     

<li><%= link_to 'Back', feeds_path %></li>
      </ul>
    </div>
     <!-- Main body -->
    <div class="jumbotron">

      <div class="icon-menu">
        <i class="fa fa-bars"></i>
        Menu
      </div>
   
<h1>New Reminder</h1>

<%= render 'form' %>

</div>
