/*This file is for schedule styling*/
/*Styling the calendar table*/
.cal table{
	border:1px solid grey;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
/*Styling days name header*/
.cal table > thead > tr > th {
	border-left: 1px solid white;
}

/*Styling the days*/
.cal table > thead > tr {
	color: white;
	background-color: cornflowerblue;
	height: 30px;
	border: 1px solid grey;
	border-bottom: 1px solid white;
}

/*Styling the calendar header, ie. Month name*/
.cal header{
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
}
/*Styling the calendar row*/
.cal table > tbody > tr {
	border: 1px solid cornflowerblue;
}
/*Styling the calendar borders*/
.cal table > tbody > tr > td {
	border: 1px solid grey;
}

/*day size and color*/
.day {
	color: grey;
	height: 70px;
	width: 100px;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	background-color: white;
}
/*Styling the calendar previous month*/
.prev-month {
	background-color: lavender;
}
/*Styling the calendar next month*/
.next-month {
	background-color: silver;
}
/*Styling the calendar buttons*/
.links {
	border-radius: 10px;
	border: 1px solid grey;
	width: 100px;
	text-align: center;
}
/*Styling the buttons table*/
td.links {
	border-collapse: collapse;
	border-radius: 10px;
	border: 1px solid grey;
	width: 100px;
	text-align: center;
	background-color: cornflowerblue;
	color: white;
}
/*Styling the calendar header, *Month names* */
.calendar-header {
	color: #204056;
}
/*Styling the calendar header, h1*/
h1.schedule-title {
	margin-left: auto;
	font-size: 30px;
}

/* unvisited link calendar buttons*/
.links a:link {
    color: white;
}

/* visited link calendar buttons */
.links a:visited {
    color: white;
}

/* mouse over link calendar buttons */
.links a:hover {
    color: white;
}

/* selected link calendar buttons */
.links a:active {
    color: white;
}
/* unvisited link prev and next buttons*/
.calendar-header a:link {
    color: #204056;
}

/* visited link prev and next buttons*/
.calendar-header a:visited {
    color: #204056;
}

/* mouse over link prev and next buttons*/
.calendar-header a:hover {
    color: #204056;
}

/* selected link prev and next buttons*/
.calendar-header a:active {
    color: #204056;
}
/* unvisited link event*/
.event a:link {
    color: red;
    text-decoration: none;
}

/* visited link event*/
.event a:visited {
    color: red;
    text-decoration: none;
}

/* mouse over link event*/
.event a:hover {
    color: red;
    text-decoration: none;
}

/* selected link event*/
.event a:active {
    color: red;
    text-decoration: none;
}
/* event styling*/
.event {
	color: red;
	font-weight: normal;
}
/* current month styling*/
.current-month {
	color: black;
}
/* today styling*/
.today {
	font-weight: bold;
	font-size: 15px;
}
