div#footer {
  bottom: 0px;
  position: fixed;
  width: 100%;
}.grid-col-5.ffb {
  width: 39.66667%;
  position: absolute;
  bottom: 0px;
}.grid-row.fit-fixedb {
  position: absolute;
  bottom: 0px;
    width: 100%;
}.fr{
    right: 0px;
  position: absolute;
  bottom: 0px;
  }.menu {
  
  right: 0px;  /* start off behind the scenes */
  top: -1000px;
  height: 70%;
  position: absolute;
  width: 285px;
  color: #fff;
   width: 20%;

}.icon-close {
  background-image: url('close.png'); 
  cursor: pointer;
  padding-left: 10px;
  padding-top: 20px;
  width: 50px;
  

}.main{
  margin-left: auto;
  margin-right: auto;
  float: none;
    background: white;
  border-radius: 20px;

  }.ppss{
    background-image: url('back.jpg');
    height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
    }
    .header__dynamic-width-col a:hover{
      background-color:cyan; 

      }
      .arr {
width: 20rem;
height: 20rem;
border-radius: 1000px;
overflow: hidden;
}
.arr img{
  width: 20rem;
height: 20rem;
  }

.pet_text {
padding: 40px;
}
.pet_text p{
font-size: -webkit-xxx-large;

}


.camera{

<img src = "">

}
.aal {
 
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 1000px;
  overflow: hidden;
  margin: auto;
  margin-top: 25px;
  }
  